<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="/static/aftersubmit.css">
</head>
<body>
    <h2>Form Details Submitted Successfully</h2>
    <div class="myclass1">
        <form action="/new" method="get">
            <button class="btn" id="newdetails">Submit a new entry</button>
        </form>
        <form action="/viewdetails" method="get">
            <button class="btn" id="newdetails">View Entries</button>
        </form>
    </div>
</body>
</html>